__pycache__/
*.so
dataset/
data/flickr
data/reddit
data/yelp
data/arxiv
data/products
data/ogbn-products
data/arxiv
pytorch_models/
log_train
.vscode/
*.gz
*.pt
*.png
datasets
pytorch_models
*.npz
temp_configs/
CONFIG.yml
toy.yml
